# -*- coding: utf-8 -*-
<%inherit file="/inner.html" />
<%def name="title()">צור קשר / אודותינו</%def>
<%def name="main_content()">
<div class='main'>
<h2 class='repl'>${_(u'אודות')}</h2>
<p>${_(u'הסבך האורבני הצפוף של ארצנו אידאלי לביצוע שליחויות באמצעות אופניים, אך משום-מה המצב בשטח הוא שחברות השליחויות הגדולות מפעילות ציי קטנועים מזהמים ויקרים, ויוזמה פרטית שתחסוך בעלויות, תיטיב עם הסביבה ותהיה פחות רועשת אינה באופק. לא חבל?')}) </p>


<p>${_(u'אך לא הכל אבוד! בעת השקת האתר, לפחות בעיר תל אביב, הוא שישנם מספר גופים העוסקים בשליחות אופניים בקנה מידה כזה או אחר. מבין המעטים אליהם אנו מודעים הם %s, %s, ו-%s')%\
  (u'<a target="_blank" href="http://www.cicleta.stiker.co.il/">%s</a>'%_(u"צ'יקלטה")\
  ,'<a target="_blank" href="http://www.buddhaburgers.co.il/">%s</a>'%_(u'בודהא בורגרס')\
  ,'<a href="http://www.subkuchmilega.com/" target="_blank">%s</a>'%_(u"סאבקוץ' מילגה"))|n}<br />

${_(u'Greenie נכנס לתמונה עם מטרה ספציפית')}:

  <b>${_(u'להוריד את הרף ולאפשר לכל אחד ואחד למלא את תפקיד השליח')}</b>. 

  ${_(u'Greenie כאן כדי לעודד שליחויות על אופניים, על ידי יצירת כלי יעיל ופשוט שבתור שלב התחלתי, יחבר בין שליחים לעסקים. אנו מלאי תקווה שתצטרפו אלינו ותתנו יד בעיצובה של מציאות יפה, ירוקה, והרמונית יותר!')}
</p>

<h2 class='repl'>${_(u'מי אנחנו')}</h2>
<p>
  <dl>
    <dt><a href='http://www.guyromm.com/'>${_(u'גיא רום')}</a></dt>
    <dd>${_(u'תכניתן Greenie וכותב שורות אלה. הנני רוכב אופניים מושבע, ומכיר כל סמטה בת"א')}
      ${_(u'ליצירת קשר בנוגע לאתר (תקלות, פידבק, הצעות וכיו"ב) , הנכם מוזמנים לשלוח מייל ל-%s, או להרים טלפון ל-%s')%\
      ('<a href="mailto:guyromm@gmail.com">guyromm@gmail.com</a>',)|n}.
      </dd>
    <dt><a href='http://www.shedon.net/'>${_(u'שחר זיו')}</a></dt>
    <dd>${_(u'גרפיקאי וגולש (גלים!) שהתאהב ברעיון והפיח בו צבע וחיים.')}</dd>
</dl>
<h2 class='repl'>${_(u'תודות')}</h2>
  <ul>
    <li>
      ${_(u'עדי אזר')}, 
      ${_(u'יותם שפרוני')},
      ${_(u'Marian Boo')}
      ${_(u'על עזרה בגיבוש הקונצפט ועבודה מוקדמת על האתר.')}</li>
    <li>${_(u'%s, על יצירת מיפוי של המדינה שניתן לעשות בו שימוש ואינטגרציה ללא תשלום. בלעדיהם הפרויקט לא היה אפשרי!')%\
      ('<a href="http://www.waze.co.il/">%s</a>'%'WAZE')|n}</li>
</ul>
</div>
</%def>
