# -*- coding: utf-8 -*-
<%inherit file="/inner.html" />
<%def name="title()">${_(u'שאלות ותשובות')}</%def>
<%def name="main_content()">
<div class='main wide'>
<h1 class='repl'>${_(u'שאלות ותשובות')}</h1>
<dl>

<dt class='repl'>${_(u'האם ההרשמה לאתר מחייבת?')}</dt>
<dd>${_(u'ההרשמה אינה מחייבת כלל. שאיפתנו היא שההרשמה תואיל לשליחים במציאת עסקים לעבוד מולם, לעסקים תפטור בעיה לוגיסטית, וללקוחות תיתן אלטרנטיבה ירוקה!')}</dd>

<dt class='repl'>${_(u'שוב, איך זה עובד?')}</dt>

<dd>${_(u'אתם נרשמים - בתור שליח, עסק או לקוח. בהתאם לאיזור ושעות הפעילות שציינתם תקבלו עדכונים באמצעות מערכת ה-notifications של פייסבוק אודות שליחים ועסקים חדשים באיזורכם. כמו כן, באפשרותכם להיכנס לאתר בכל עת ולהסתכל ידנית על השליחים והעסקים המתאימים לכם.')}</dd>

<dt>${_(u'איך אפשר לעזור?')}</dt>
<dd>${_(u'במספר דרכים:')}
  <ul>
    <li>${_(u'הפיצו את המילה!')}</li>
    <ll>${_(u'הצטרפו לבקוצת הפייסבוק')}</li>
    <li>${_(u'הדפיסוק פוסטר צבע A3 ותלו בחנותכם, במעון שלכם, במקום עבודתכם')} - <a href='/poster.pdf'>${_(u'רגיל')}</a>, <a href='/poster-couriers-needed.pdf'>${_(u'גרסת דרושים שליחים')}</a></li>
    <li>${_(u'הדפיסו והפיצו פלייר שחור-לבן')} <a href='/flyer-a3.pdf'>${_(u'פלייר שחור לבן A3')}</a></li>
    <li>${_(u'הזמינו ירוק, באמצעות שליחי גריני!')}</li>
    </ul>
</dd>
<dt class='repl'>${_(u'אז איך בדיוק מתבצעת הזמנה מבית עסק?')}</dt>

<dd>${_(u'כרגע, האתר אינו מטפל בקבלת הזמנות, אלא מאפשר לכם למצוא שליח/בית עסק רלוונטי בלבד. מה שזה אומר, הוא שתצטרכו להתקשר אל בית העסק או השליח בעצמכם. לדוגמה, אם ברצונכם להזמין משלוח ממסעדה, אתם מתקשרים אל אותה מסעדה ומבצעים את ההזמנה, תוך תשלום בכרטיס אשראי. המסעדה, בתורה, מתקשרת אל שליח, שמביא את ההזמנה לפתח דלתכם.')}</dd>

<dt class='repl'>${_(u'ממה אתם מתפרנסים?')}</dt>

<dd>${_(u'נכון לעכשיו, האתר פועל ללא מטרה להרוויח. מטרתנו הינה לשנות את אופן ביצוע המשלוחים בארץ, ולמקם את האתר כשירות הדפנטיבי בכל הקשור לביצוע משלוחים לטווחים קצרים. בשלב מאוחר יותר, נשקול לגבות תשלום עבור שירותים נוספים ממשתמשינו, אך השאיפה הינה להשאיר את השימושיות המרכזית של איתור עסקים ושליחים חופשית וחינמית.')}
</dd>

<dt class='repl'>${_(u'כיצד אני יכול/ה לבטוח בשליח שאיני מכיר?')}</dt>

<dd>${_(u'שאלה מצוינת! Greenie פועל במספר מישורים על מנת להבטיח שלא תפלו קורבן לרמאות של גורם זדוני שמתחזה לשליח או בית עסק לגיטימיים. ראשית, המערכת ניתנת לשימוש אך ורק באמצעות הפייסבוק, מה שמבטיח רמה מסוימת של וודאות שהאדם שבידיו הפקדתם את משלוכחם אינו בעל בזהות בדויה. מומלץ לבחון את דף הפרופיל של השליח או העסק בפייסבוק לפני ביצוע פעולות מולו, ולהפעיל שיקול דעת והגיון שרלוונטיים תמיד - אל תפקידו סכומי כסף גדולים או גישה חופשית לביתכם בידיו של אדם שאינכם מכירים. השירות מתבסס על בניית אמון הדדי והדרגתי!')}<br />
${_(u'כמו כן, משתמשים יכולים לדרג אחד את השני באמצעות האתר ולכתוב ביקורת - מה שיתן אינדיקציה לאחרים באם ניתן לעבוד בבטחה מול השירות.')}
</dd>
</dl>

<p>${_(u'במידה ויש לכם שאלות נוספות, אל תהססו לכתוב ל- ')} <a href="mailto:guyromm@gmail.com">guyromm@gmail.com</a>.</p>
</div>
</%def>
