# -*- coding: utf-8 -*-
<%inherit file="/help.html" />
<%def name="title()">עזרה בסימון</%def>
<%def name="main_content()">
<div class='main'>
<h1 class='repl'>הוראות סימון תחום על המפה</h1>
<p>תיחום שטח נעשה ע&quot;י לחיצה בודדת באחת מפינות התחום אותו רוצים לסמן:<br />
<img src='/images/help/marking-step-1.png' /></p>
<p>לאחר מכן, ממשיכים בסימון נקודות אחרות התוחמות את האיזור הרצוי:<br />
<img src='/images/help/marking-step-2.png' />
</p>
<p>לסגירת התיחום, לוחצים לחיצה כפולה בפינה הסופית של התיחום, והשטח הנבחר נצבע:<br />
<img src='/images/help/marking-step-3.png' />
</p>
<p>במידה ואינך מרוצה מהתיחום, ניתן להתחיל מחדש ע&quot;י לחיצה על תחילת הסימון מחדש:<br />
<img src='/images/help/marking-step-4.png' />
</p>
</div>
</%def>
